<header>
  <div class="header-container">
    <div class="header__title">
      <img src="../../../assets/img/menu.png" alt="menu" />
      <h1>BruFeed</h1>
    </div>
    <div class="header__search">
      <img src="../../../assets/img/busca.png" alt="busca" />
    </div>
  </div>

  <div class="header-links">
    <a class="header-link" href="">✔️ Quiz</a>
    <a class="header-link" href="">💽 Nostalgia</a>
    <a class="header-link" href="">🔞 Sexo</a>
    <a class="header-link" href="">Comportamento</a>
    <a class="header-link" href="">👁️‍🗨️BBB</a
    ><a class="header-link" href="">Oscar</a
    ><a class="header-link" href="">🍽️ Tasty Demais</a
    ><a class="header-link" href="">🎭 Carnaval</a>
    <a class="header-link" href="">🎬 TV e Filmes</a>
    <a class="header-link" href="">🛍️ Shopping </a>
  </div>
</header>
