.quiz__container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.quiz__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.quiz__logo > h3 {
  margin-top: 20px;
}

.quiz__questions {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #adcbf0;
  width: 100%;
  height: 200px;
  font-size: 20px;
  margin-bottom: 20px;
}

.quiz__options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-option {
  background-color: #adcbf0;
  margin: 10px;
  width: 40%;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 17px;
  padding: 16px;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-option:hover {
  font-size: 18px;
}

.btn-option:active {
  position: relative;
  top: 2px;
}

.quiz__results {
  width: 100%;
  height: 350px;
  color: white;
  background-color: #00567e;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
