.home__container {
    display: block;
    width: 60vw;
    margin: 20px auto;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}